
__pycache__/
*.py[cod]
*$py.class

build/
dist/
*.egg-info

.env

logs/
*.log
app/churn/learning_curve.png
.vscode/settings.json
app/.vscode/launch.json
app/churn/~$test2.xlsx
app/churn/EDA.ipynb
app/churn/lightgbm_churn_model.pkl
app/churn/test.ipynb
app/churn/test.xlsx
app/churn/test2.xlsx
app/churn/churn_data_sample.parquet